name: Build Windows Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        build_type: [RelWithDebInfo]
        ui: [gui]
        scripting: [lua]
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Install Skia
      shell: bash
      run: |
        this_dir="${{ github.workspace }}"
        skia_url=$(source $this_dir/laf/misc/skia-url.sh | xargs)
        skia_file=$(basename $skia_url)
        curl --ssl-revoke-best-effort -L -o "$skia_file" "$skia_url"
        unzip "$skia_file" -d skia
    
    - uses: aseprite/get-ninja@main
    
    - uses: ilammy/msvc-dev-cmd@v1
    
    - name: Generating Makefiles
      shell: bash
      run: |
        export enable_ccache=off
        export laf_backend=skia
        export enable_scripting=on
        export skia_arch=x64
        
        cmake -S . -B build -G Ninja \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DENABLE_TESTS=OFF \
          -DENABLE_SCRIPTING=$enable_scripting \
          -DENABLE_CCACHE=$enable_ccache \
          -DLAF_BACKEND=$laf_backend \
          -DSKIA_DIR=$(realpath skia) \
          -DSKIA_LIBRARY_DIR=$(realpath skia/out/Release-$skia_arch)
    
    - name: Compiling
      shell: bash
      run: |
        cd build && ninja
    
    - name: Create Release Package
      shell: bash
      run: |
        mkdir -p release-package
        cp build/bin/aseprite.exe release-package/
        cp -r build/bin/data release-package/
        cd release-package && dir
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: aseprite-windows-${{ github.sha }}
        path: release-package/
    
    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: release-package/**
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
